:root{
    --pink:#e40076;
    --parrrot:#90d011;
    --grey:rgb(172, 168, 168);
  }
.recharge-container{
    background-color: rgb(245, 245, 245);
    padding: 20px;
    height: 100vh;
}
.recharge-heading{
  height: 44px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 14px;
  border-radius: 8px;
}
.recharge-heading div{
    width: 30%;
    font-size: 12px;
    text-align: center;
}
.re-input{
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid var(--grey);
    border-radius: 23px;
    margin-top: 10px;
    text-align: center;
}
::placeholder{
    color: var(--parrrot);
}
.limit{
    text-align: center;
    margin-top: 7px;
    color: var(--grey);
    font-size: 14px;
}
.quick-payment{
    margin-top: 16px;
    color: var(--grey);
}
.six-boxes{
    display: flex;
    height: 130px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
}
.six-boxes div{
    width: 29%;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    color: var(--parrrot);
    border: 1px solid var(--grey);
    font-size: 13px;
}
.select-payment{
    margin-top: 18px;
    height: 44px;
    width: 100%;
    border: none;
    border-radius: 24px;
    text-align: center;
    line-height: 44px;
    background-color: var(--pink);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
.re-img{
    margin-top: 20px;
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}